.chapter__case-studies {
  .fancy-heading {
    margin-bottom: 1rem;
    
    &__heading-text {
      left: 80px;
      bottom: 50px;
      top: auto;
    }
    &__fancy-text {
      line-height: 0.7;
    }
  }

  .row-bg-image {
    background-color: #ccc;
  }

  .case-study-content-area {
    color: $white;

    p {
      margin-bottom: 4rem;
    }
  }
  .case-study-screen-bg {
    background-color: rgba(0,0,0,0.9);
  }
  .image-swap-block {
    display: none;
  }
  
  div[class^='lobby-case-studies-'] {
    .empty-block {

    }
  }
  .lobby-case-studies-des-moines {
    .row-bg-image {
      background: url("/img/chapter-lobby/case-studies/01_DesMoines/01_Cover.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  .lobby-case-studies-buena-park {
    .row-bg-image {
      background: url("/img/chapter-lobby/case-studies/02_BuenaPark/Cover.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  .lobby-case-studies-santa-fe {
    .row-bg-image {
      background: url("/img/chapter-lobby/case-studies/03_SantaFe/Lobby.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  
  @media only screen and (max-width: $bp-medium - 1) {
    .section__content {
      padding: 5vw 9vw 5vw 4vw;
    }
  }

  @media only screen and (max-width: $bp-medium - 1) {
    .case-study-screen-bg {
      background-color: $white;
      
    }

    .case-study-content-area {
      p {
        color: $middle-gray;
      }
    }
    .fancy-heading {
      position: static;
    }
    .image-swap-block {
      display: block;
    }
    .section__content {
      padding: 8vw 8vw 20vw 8vw;
    }
  }
}
