.lobby-defined-zones-01 {

  .zone {
    position: absolute;
    left: -9999px;
    opacity: 0;
    transform: translateY(1rem);
    transition: 0.3s $ease-out-cubic;
    transition-property: opacity, transform;
    
    &.active {
      left: auto;
    }
    &.active {
      opacity: 1;
      transform: translateY(0rem);
    }
    &.active {
      position: static;
    }
  }

  .map-img-container {
    width: 90%;
    display: inline-block;
  }

  .defined-zones-nav {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    li {
      a {
        white-space: nowrap;
        padding: 0.5rem;
        display: block;
        margin: 1vw;
        text-align: left;
        background-color: $white;
        color: $middle-gray;
        border: 1px solid;
        border-color: #ddd;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
        transition: 0.2s $ease-out-cubic;
        transition-property: box-shadow, border-color;

        &:hover {
          box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
          border-color: #fff;
        }
      }
      a:before {
        content: "";
        margin: 0rem 0.5rem 0rem 0rem;
        display: inline-block;
        background: $middle-blue;
        color: $white;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        line-height: 1.6;
        text-align: center;
      }
      
      &.active {
        
      }
    }
    .zone-nav-01 {
      a:before {
        content: "A";
        background: $middle-blue;
      }
    }
    .zone-nav-02 {
      a:before {
        content: "B";
        background: $dark-blue;
      }
    }
    .zone-nav-03 {
      a:before {
        content: "C";
        background: $black;
      }
    }
    .zone-nav-04 {
      a:before {
        content: "D";
        background: $middle-gray;
      }
    }
    .zone-nav-05 {
      a:before {
        content: "E";
        background: $purple;
      }
    }
    .zone-nav-06 {
      a:before {
        content: "F";
        background: $pink;
      }
    }
  }
}