.fancy-heading {
  padding: 2rem 2rem 2rem 4rem;
  border: 14px solid #144c95;
  background: $white;
  position: relative;

  &.fancy-heading-transparent {
    background: transparent;
  }

  &.fancy-heading-semi-transparent-dark {
    background: rgba(0, 0, 0, 0.7);
  }
  &.fancy-heading-semi-transparent-light {
    background: rgba(255, 255, 255, 0.8);
  }

  &__heading-text {
    @extend %heading-text;
    color: $dark-blue;
    font-weight: $font-weight-heavy;
    font-size: 2vw;
  }

  &__fancy-text {
    @extend %fancy-text;
    color: $middle-blue;
  }

  &.left {
    border-left: none;
  }

  &.right {
    border-right: none;
  }

  .toc & {
    margin: 5rem 0rem 3rem -5rem;
  }
  
  
  @media only screen and (max-width: $bp-xlarge - 1) {
    padding: 1rem 2rem 2rem 2rem;
    .toc & {
      margin: 3rem 0rem 2rem -2rem;
    }

    &__fancy-text {
      font-size: 7vw;
    }
  }

  @media only screen and (max-width: $bp-medium - 1) {
    padding: 1rem 1rem 1rem 2rem;
    position: absolute;
    right: 0;
    top: 225px;
    width: 77%;
    border: 5px solid #144c95;
    .toc & {
      margin: 0;
    }
    
    &__fancy-text {
      font-size: 18vw;
    }
    &__heading-text {
      font-size: 4vw;
    }
  }





  &.fancy-heading-hero {
    position: absolute;
    width: 40vw;
    top: 8vw;
    border-color: $middle-blue;
    .fancy-heading__fancy-text {
      color: $white;
      font-size: 5vw;
      margin-bottom: 1vw;
    }
    .fancy-heading__heading-text {
      color: $middle-blue;
      font-size: 1vw;

    }
    @media only screen and (max-width: $bp-xlarge - 1) {
      width: 50vw;
      .fancy-heading__fancy-text {
        font-size: 7vw;
      }
      .fancy-heading__heading-text {
        font-size: 2vw;

      }
    }
    @media only screen and (max-width: $bp-medium - 1) {
      width: auto;
      position: absolute;
      margin: 0;
      border: 5px solid #129bdb;
      border-right: none;
      right: 0;
      left: 7vw;

      + .image-wrapper {
        width: 90vw;
      }

      .fancy-heading__fancy-text {
        color: $middle-blue;
        font-size: 15vw;

      }
      .fancy-heading__heading-text {
        color: $dark-blue;
        font-size: 4vw;
      }
    }
    @media only screen and (max-width: $bp-small - 1) {
      position: static;
      background: #ffffff;
      border: 5px solid #129bdb;
      + .image-wrapper {
        width: 100vw;
      }
    }
  }
}

