ul {
  list-style-type: none;
}
ul.dashed {
  position: relative;
  li:before {
    content: '\2014';
    position: absolute;
    left: 10px;
  }

  li {
      margin: 1rem 0;
  }
}

.list-style-cap-letter {
  list-style: upper-alpha; 
}
.list-style-bullet {
  list-style: disc; 
}